<%- model_class = Post -%>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">
        Blog
      </a>
    </div>
    <ul class="nav navbar-nav">
    <li class="active"><a href="/posts">
      Admin
    </a>
    <li class="active"><a href="/">
      User
    </a>
  </ul>
  <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
  </div>
</nav>

<div class="container" align="center">
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
</div>
<div class="container" align="center">
<table class="table table-striped">
  <col width="20%">
  <col width="50%">
  <col width="5%">
  <col width="15%">
  <col width="10%">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:likes) %></th>
      <th><%= model_class.human_attribute_name(:created) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><a href="/posts/<%= post.id%>"><%= post.title %></a></td>
        <td><i><%= post.description %></i></td>
        <td align="center"><%= post.likes %></td>
        <td><%=l post.created_at.to_date %></td>
        <td>
          <div class="btn-group-vertical" role="group">
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      post_path(post), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_post_path(post), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      post_path(post),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
                    </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
<div class="container">
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_post_path,
            :class => 'btn btn-primary' %>
</div>
