<%- model_class = Post -%>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">
          Blog Personal
      </a>
    </div>
    <ul class="nav navbar-nav">
    <li class="active"><a href="/posts">
      Admin
    </a>
    <li class="active"><a href="/">
      User
    </a>

    <li class="active"><a href="/posts/report">
      Report
    </a>
  </ul>

  <form action="/posts/search2" method="get" class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search" name="search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
  </div>
</div>
</nav>

<div class="container" align="center">
<div class="page-header">
  <h1>Posts Report</h1>
</div>
</div>
<div class="container" align="center">
<table class="table table-striped">
  <col width="10%">
  <col width="30%">
  <col width="15%">
  <col width="15%">
  <col width="10%">
  <col width="10%">
  <col width="10%">
  <thead>
    <tr>

      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:created) %></th>
      <th><%= model_class.human_attribute_name(:modified) %></th>
      <th><%= model_class.human_attribute_name(:comments) %></th>
       <th><%= model_class.human_attribute_name(:likes) %></th>
      <th><%= model_class.human_attribute_name(:words) %></th>
     </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.id %></td>
        <td><a href="/posts/<%= post.id%>"><%= post.title %></a></td>
        <td><%= post.created_at.to_date %></td>
        <td><%= post.updated_at.to_date %></td> 
        <td align="center"><%= post.comments.size %></td>
        <td align="center"><%= post.likes %></td>
        <td align="center"><%= post.description.split.size %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
<div class="container">
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_post_path,
            :class => 'btn btn-primary' %>
</div>
